{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block body %}
    <div class="form-group">{{ form_start(form) }}</div>
    <div class="form-group">{{ form_row(form.review.title) }}</div>
    <div class="form-group">{{ form_row(form.review.rating) }}</div>
    <div class="form-group">{{ form_row(form.review.review) }}</div>
    <div class="form-group">{{ form_row(form.review.author.firstName) }}</div>
    <div class="form-group">{{ form_row(form.review.author.lastName) }}</div>
    <div class="form-group">{{ form_row(form.review.author.email) }}</div>

        <input class="btn btn-default" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
 
