{% extends 'base.html.twig' %}
{% block body_id 'fundraiserpage' %}
{% block body %}

<h1>Fundraiser: {{ fundraiser.name }}</h1>

<div class="well"><div class="media">
    <div class="media-left media-top">
        <img class="media-object" src="{{ fundraiser.thumbnail }}">
    </div>
    <div class="media-body">
    
        <h4 class="media-heading">{{ fundraiser.name }}</h4>
        <p>{{ fundraiser.description }}</p>
    </div>
</div></div>




<h2>Fundraiser Reviews:</h2>

{{ render(controller('AppBundle:Review:index', {'fundraiser_id': fundraiser.id})) }}

<h2>Submit a new review:</h2>
{{ render(controller('AppBundle:Fundraiser:review', {'id': fundraiser.id})) }}

{% endblock %}
