{% trans_default_domain 'FOSUserBundle' %}
<p>This form uses validation based on HTML5. Normally, I'd suggest writing a jQuery fallback for browsers < IE9. There's also a backend validation process.</p>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="form-group">
    	{{form_label(form.firstName)}}
    	{% if form_errors(form.firstName) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.firstName) }}</div>{% endif %}
    	{{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
    	{{form_label(form.lastName)}}
    	{% if form_errors(form.lastName) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.lastName) }}</div>{% endif %}
    	{{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
    	{{form_label(form.email)}}
    	{% if form_errors(form.email) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.email) }}</div>{% endif %}
    	{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
    	{{form_label(form.username)}}
    	{% if form_errors(form.username) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.username) }}</div>{% endif %}
    	{{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
    	{{form_label(form.plainPassword.first)}}
    	{% if form_errors(form.plainPassword.first) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.plainPassword.first) }}</div>{% endif %}
    	{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
    	{{form_label(form.plainPassword.second)}}
    	{% if form_errors(form.plainPassword.second) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.plainPassword.second) }}</div>{% endif %}
    	{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div>
        <input class='btn btn-primary btn-lg' type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
